.shows {
  display: flex;
}

.show {
  padding: 0 1ch;
}

.show:not(:last-child) {
  border-right: 1px solid white;
}

.show-selection {
  width: 100vw;
  text-align: center;
}

.show-selection h2 {
  font-size: 45px;
  padding-bottom: 10px;
}
.show:hover,
.show.selected {
  background: #282828;
  cursor: pointer;
}

.show-details {
  display: grid;
  gap: 1rem;
}

@media (width >= 500px) {
  .show-details {
    grid-template-columns: minmax(30ch, auto) 1fr;
  }
}
