* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: white;
  font-family: sans-serif;
}

body {
  background: radial-gradient(
    rgb(0, 0, 0),
    rgb(117, 114, 202),
    rgb(14, 14, 118)
  );
}

#root {
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

button {
  padding: 0.25rem 0.5rem;
}
